* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Microsoft YaHei', sans-serif;
  color: var(--text-primary);
  overflow: hidden;
}

/* 自定义滚动条 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.05);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--border-glow);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--border-glow-hover);
}
